
/* Overwrite the multiselect component's style on demand */
/*
multiselect .selected {
    background-color: red !important;   
}
*/

/* Flat theme */
.flat .btn,
.flat .form-control {
    border-radius: 0;
}

.flat .dropdown-menu {
    border-radius: 0;
    border-top: none;
    margin-top: 0;
}