<div class="container">
  <div class="row mt-3">
    <div class="col-12">
     <h2>Multiselect demo</h2>
     <p>This application demonstrates the functionality of the Multiselct Component.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
     <p class="lead">Control</p>
    </div>
    <div class="col-md-6">
     <p class="lead">Data</p>
     <pre class="code-container">
      <code>
[ 
  "Option A",
  "Option C",
]
      </code>
     </pre>
    </div>
  </div>
</div>

