#multiselect-container {
    position: relative;
}

#multiselect-container .show {
    display: block;
}

.selected {
    color: white;
    background-color: #0275d8;;
}

.dropdown-item:active {
    background-color:  #f7f7f9;;
    color: inherit;
}

.selected:hover {
    color: white;
    background-color: #025aa5;
}

#multiselect-container .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#selection-label {
    position: absolute;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    z-index: 3;
    pointer-events: none;
}

.flat .btn,
.flat .form-control {
    border-radius: 0;
}

.flat .dropdown-menu {
    border-radius: 0;
    border-top: none;
    margin-top: 0;
}