#multiselect-container {
    position: relative;
}

#multiselect-container .btn:focus {
    box-shadow: none;
}

#multiselect-container .form-control[readonly] {
    background: inherit;
}

#multiselect-container .form-control[readonly]:focus {
    border-color: rgba(0, 0, 0, 0.15);
}

.show {
    display: block;
}

.selected {
    color: white;
    background-color: #0275d8;;
}

.selected:hover {
    color: white;
    background-color: #025aa5;
}

.dropdown-item:active {
    background-color:  #f7f7f9;;
    color: inherit;
}

 .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#selection-label {
    position: absolute;
    padding: 0.5rem 0.75rem;
    left: 0;
    top: 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    z-index: 3;
    pointer-events: none;
}